/* @override http://localhost:8005/static/style.css */

body, html {
    font-family: arial;
    padding: 0;
    margin: 0;
}
.main{
    padding-left: 40px;

}
span.title {
    display: block;
    font: 16px arial;
}
span.favorite {
	cursor: pointer;
}
span.title span.favorite,
span#note_id span.favorite {
	margin-left: .3em;
}

span.source {
    color: #093;
    font-size: 13px;
}

span.timestamp {
    color: #797979;
    font-size: 13px;
}

ul.note_list li {
    list-style-type: none;
    margin-top: 1.5em;
    width: 500px;
}

ul.note_list {
    padding-left: 40px;
}

ul#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #cde7d6;
    padding-left: 40px;
    -webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

ul#menu li {
    background-color: #cde7d6;
    cursor: pointer;
    font-size: 12px;
    padding: 0.5em;
    display: inline-block;
}

ul#menu li:hover{
	text-decoration: underline;
}
ul#menu li.selected {
    background-color: #093;
    color: #fffeff;
}

#header {
    padding-left: 40px;
	}

#header, #header a {
    background-color: #093;
    color: #fffeff;
    margin: 0;
    font-size: 23px;
    text-decoration: none;
}

#footer {
    font-size: 12px;
    background-color: #093;
    padding: .5em 1em;
    padding-left: 40px;
    
  }

span.snippet {
    display: block;
    font-size: 13px;
    color: #222;
}

span.score {
    color: #fe2614;
    font-size: 13px;
}

#note_fulltext {
    padding-left: 40px;
    font-size: 14px;
    padding-bottom: 1em;
}

#note_headers {
    background-color: #d5d5d5;
}

#note_header {
    padding-left: 40px;
    font-size: 16px;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

a.note_return {

}

#note_headers table {
    margin: 0 0 1em;
    padding-left: 40px;
    padding-top: .3em;
    padding-bottom: .3em;
}

#note_headers table th, #note_headers table td   {
    font-size: 12px;
}
#note_headers table th{
    text-align: right;
}

#note_id {

    padding: 0;
    margin: 0;
}

.pagination{
    padding-left: 40px;
    margin-top: 1em;
    font-size: 13px;
    margin-bottom: 1em;

}

.page-links a {
    background-color: #cde7d6;
    text-decoration: none;
    color:black;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.page-links a:active{
	    background-color: #093;

}

.pagination a:hover{
    text-decoration: underline;
}
.pagination form{
    display: inline-block;
}

.pagination form input[type=text]{
    width: 40px;
    text-align: right;
}
.pagination div{
    padding-top: .6em;
}
.order_by{
	margin-left: 1em;
}
.order_by a {
	 background-color: #cde7d6;
    text-decoration: none;
    color:black;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.order_by a.selected{
	    background-color: #093;
	color: #fffeff;
}