














<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
    <script language="javascript">
        var STATIC_URL = '{{ STATIC_URL }}';
    </script>
    <script language="javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
    <script language="javascript" src="{{ STATIC_URL }}favorite.js"></script>

</head>
<body>
<div id="header"><a href="{% url notes %}">{{ corpus_name }}</a></div>
<ul id="menu">
    <li>Preferences</li>
    <li>About</li>

</ul>
{% block main %}
{% endblock %}
<div id="footer">Corpus Reader - &copy;2012 Krzysztof Dorosz  </div>
</body>
</html>