{% extends 'base.html' %}

{% block main %}
    <div id="note_header" xmlns="http://www.w3.org/1999/html"> <a href="{% url notes %}" class="note_return">{{ corpus_name }}</a> &rarr;
        <span id="note_id">#{{ note.corpus_id }} <a href="{% url note pk=note.pk %}">{{ note.title|truncatechars:62 }}</a><span class="favorite" note="{{ note.pk }}" favorite="{{ note.favorite }}"></span></span></div>
    <div id="note_headers">
        <table>
        {% for key, value in headers.items %}
            <tr> <th>{{ key }}:</th><td>{{ value }}</td>
        {% endfor %}
        </table>
    </div>
    <div id="note_fulltext">{{ fulltext|linebreaksbr }}</div>
{% endblock %}