{% extends 'base.html' %}
{% load i18n %}

{% block main %}
        <div class="pagination">

            <span class="page-links">
               Showing items from {{ page_obj.start_index }} to {{ page_obj.end_index }}.

                <span class="page-current" {% if not is_paginated %}style="visibility: hidden"{% endif %}>
                    <form>

                        Page <input type="text" name="page" value="{{ page_obj.number }}"><input type="submit" value="GO"> of {{ page_obj.paginator.num_pages }}</form>
                </span>

                <a {% if page_obj.has_previous %}{% else %}style="visibility: hidden"{% endif %} href="{% url notes %}?page={{ page_obj.previous_page_number }}">previous</a>

                    <a {% if page_obj.has_next %}{% else %}style="visibility: hidden"{% endif %}  href="{% url notes %}?page={{ page_obj.next_page_number }}">next</a>

            </span>

            <div>
                Filter by: <a href="{% url notes %}?favorite={% if favorite  %}False{% else %}True{% endif %}"><img src="{{ STATIC_URL }}favorite_star_{% if favorite  %}on{% else %}off{% endif %}.gif"></a>


            <span class="order_by">{% trans 'Order by:' %}

                {% for order_column in order_columns %}
                    <a href="?order_column={{ order_column.column }}" class="{% if order_column.selected %}selected{% endif %}">{{ order_column.name }}</a>
                {% endfor %}

                &nbsp;&nbsp;&nbsp;

                {% for order_type in order_types %}
                    <a href="?order_type={{ order_type.type }}" class="{% if order_type.selected %}selected{% endif %}">{{ order_type.name }}</a>
                {% endfor %}

            </span>
            </div>

        </div>



    <ul class="note_list">
    {% for note in note_list %}
        <li>    <span class="title"><a href="{% url note pk=note.pk %}">{{ note.title|default:"NO TITLE"|truncatechars:58}}</a><span class="favorite" note="{{ note.pk }}" favorite="{{ note.favorite }}"></span></span>
                <span class="source">{{ note.source|default:"NO SOURCE" }}</span>
                <span class="timestamp">{{ note.timestamp|date:"DATETIME_FORMAT" }}</span>
                <span class="score">{{ note.score|default:'' }}</span>
                <span class="snippet">{{ note.snippet }}...</span>

    {% endfor %}
    </ul>


    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                <span class="page-current">
                    <form>Page <input type="text" name="page" value="{{ page_obj.number }}"><input type="submit" value="GO"> of {{ page_obj.paginator.num_pages }}</form>
                </span>

                <a {% if page_obj.has_previous %}{% else %}style="visibility: hidden"{% endif %} href="{% url notes %}?page={{ page_obj.previous_page_number }}">previous</a>

                    <a {% if page_obj.has_next %}{% else %}style="visibility: hidden"{% endif %}  href="{% url notes %}?page={{ page_obj.next_page_number }}">next</a>
            </span>
        </div>
    {% endif %}

{% endblock %}